<html>
    <head>
        
    </head>
    <body>
        <nav class="navbar navbar-default">
            <div class="container-fluid">
              <div class="navbar-header">
                <a class="navbar-brand" href="#">Shopping mall</a>
              </div>
              <ul class="nav navbar-nav">
                <li><a href="#">Shop</a></li>
                <li><a href="#">LogOut</a></li>
                
              </ul>
            </div>
          </nav>
          <div class = 'container'>
            <form name = 'addProd'>
                <div>
                    <input type = 'text' name = 'prod_name' placeholder='Product Name' required />
                </div>
                <div>
                    <input type ='textarea' name = 'prod_info' placeholder = 'Product information' required />
                </div>
                <div>
                    <label>Upload Image of product :</label>
                    <input type ='file' name ='image' required />
                </div>
                <div>
                    <input type = 'number' name = 'price' required />
                </div>
                <div>
                    <input type = 'submit' name = 'submit'>
                </div>
            </form>
          </div>
    </body>
</html>